:root{

 --DARK-GRADIENT:
 background: linear-gradient( 180deg #16274f, #121925);
/*  background: rgb(1,14,48);
 background: linear-gradient(180deg, rgba(1,14,48,1) 0%, rgba(22,39,78,1) 100%); */
--LIGHT-COLOR: #dee9fc;
--LIGHT-GRADIENT:
background: rgb(224,236,250);
background: linear-gradient(180deg, rgba(224,236,250,1) 0%, rgba(255,255,255,1) 100%);
/* background: rgb(22,39,79);
background: linear-gradient(222deg, rgba(22,39,79,1) 0%, rgba(18,25,37,1) 100%); */
--DARK-TEXT-COLOR: #222b41; /*BLUE  #16274f  BLACK #121925 */
--LIGHT-TEXT-COLOR:#ccd3e9;
--DARK-BACKGROUND-COLOR: #16274f;
--BORDER-COLOR: #47587c;
 
}



/* #myVideo {
  position: fixed;
 
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter:opacity(100%);
display: block;
margin: 0 auto;
}

 */
body {
  margin:0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: background: rgb(224,236,250);
  background: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(224,236,250,1) 100%);
}
/* toggle switch */
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #16274f;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #dee9fc;
  
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #16274f;

}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  color: #dee9fc;
}
/* Toggle switch end */
.toggle-table{

}
.light-dark{
  font-size: 10px;
  
  padding-right: 0%;
}

h1 {
  color: #ededec;
  font-size: 38px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 15px;
}

ul{
  margin:0;
  padding: 0;
}

li{
  list-style: none;
  margin:0;
  padding: 0;
  color: hsl(0, 0%, 84%);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  
}

#search-form{
  width: 107%;
}

#updatenote{
  font-style: italic;
  font-size: 10px;
  font-weight: 100;
  color: #ffffff90;
}

#description{
  font-size: 20px;}

li:first-letter{
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
 margin: 6rem auto;
}
.weather-app{
  padding: 20px;
  border-radius: 5px;
  background-color:  background: rgb(1,14,48);
  background: linear-gradient(222deg, rgba(1,14,48,1) 0%, rgba(22,39,78,1) 100%); 
  backdrop-filter: blur(10px);
}

.weather-temperature img {
  margin: 0 auto ;
 
  height: 68px;
  width: 68px;
}
.weather-temperature strong{
  color:   whitesmoke;
  font-size: 66px;
  line-height: 1;
  font-weight: 400;
 
}


.weather-temperature .units{
  position: relative;
  font-size: 16px;
  top: -34px;
  color: whitesmoke;
}

.weather-temperature .active{
  color: whitesmoke;
  cursor: default;
  text-decoration: none;

}

.weather-temperature .active:hover{
  text-decoration: none;
}

/* .weather-forecast{
  margin-top: 5px;
  text-align: center;
  color: #333;
 
} */
#forecasr-now{
  
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 10px;
 
}
#forecast-cards{
  border-radius: 10px;
  align-items: center;
/*  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);} */
  background-color: #17264d;
  margin-bottom: 20px;
  
}
.weather-forecast-date {
  font-size: 16px;
  color: whitesmoke;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
  color: whitesmoke;
}
.weather-forecast-temperature-max{
  font-size: 13px;
  color: whitesmoke;
}
.col-2{
  margin: 0 auto;
  padding:1px;
}

.overview{
  margin-bottom: 28px;
  margin-top: 10px;
  margin-left: 10px;
}
.row{
  display: flex;
  flex-direction: row;
 padding-left: 17px;
 padding-right: 17px;
}

.form-control{
  background-color: #17264d;
  border: 1px solid #e6ab20;
  border-radius: 4px;
  color: grey ;
  
}
.form-control:focus{
  background-color: #17264d;
  color: #17264d ;
}

.signature{
  color: #17264d;
}
a{
  color:rgb(76, 76, 255);

}

/* media queries 

|| SMALL */
 @media screen and (min-width: 576px) {


    body {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }

    .body {
        width: min(100%, 400px);
    }

    .body:last-child {
        order: -1;
    }
    .weather-temperature .units{
      position: relative;
      font-size: 10px;
      top: -34px;
      color: whitesmoke;
    }
    .weather-temperature strong{
      color:   whitesmoke;
      font-size: 66px;
      line-height: 1;
      font-weight: 400;
     
    }

} 

/* || MEDIUM */
/* @media screen and (min-width:768px) {

    nav {
        display: none;
    }

    .card {
        width: min(100%, 325px);
    }

    .card figure {
        flex-flow: column-reverse;
    }

    .card figcaption {
        margin: 0.1em 0;
    }

    .card p {
        margin-top: 1rem;
    }
} */

/* || LARGE */
/* @media screen and (min-width:922px) {
    .card {
        width: min(100%, 400px);
    }

    .card:nth-child(2) {
        order: -1;
    }

} */

/* || XLARGE */
/* @media screen and (min-width:1200px) {
    .card {
       remove calc()- min() suports match;
         width: min calc(33% - 1rem, 500px); 
    }

}  */

/*|| MOBILE LANDSCAPE */
/* @media screen and (max-height:425px) and (min-aspect-ratio:7/4) {

    h1 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }

    main {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .card {
             remove calc() - min() supports math
          width: min(33% - 0.25rem, 200px);
    }

    .card figcaption,
    .card p {
        font-size: 1.25rem;
    }
}  */