html{
  background-color: rgba(245, 245, 245, 0.974);
}
#myVideo {
  position: fixed;
 
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter:opacity(100%);


display: block;
margin: 0 auto;
  

  
}
body {
  margin:0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(245, 245, 245, 0);
}

h1 {
  color: whitesmoke;
  font-size: 38px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 15px;
}

ul{
  margin:0;
  padding: 0;
}

li{
  list-style: none;
  margin:0;
  padding: 0;
  color: hsl(0, 0%, 84%);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  
}

#search-form{
  position: relative;
  margin: 0;
  padding: 0;
  width: 105%;
}

#updatenote{
  font-style: italic;
  font-size: 10px;
  font-weight: 100;
  color: #ffffff90;
}

#description{
  font-size: 20px;}

li:first-letter{
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
 margin: 6rem auto;
}
.weather-app{
 background:url(/images/pexels-rostislav-uzunov-7513671.mp4);
 background-repeat:no-repeat;
 background-size:cover;
 background-position:center;
 opacity: 100%;
 min-height:400px;
  padding: 20px;
  border: 2px solid #00000050;
  border-radius: 5px;
  background-color: rgba(0, 25, 75, 0.213);
  backdrop-filter: blur(10px);
}

.weather-temperature img {
  margin: 0 auto ;
 
  height: 68px;
  width: 68px;
}
.weather-temperature strong{
  color:   whitesmoke;
  font-size: 66px;
  line-height: 1;
  font-weight: 400;
 
}


.weather-temperature .units{
  position: relative;
  font-size: 16px;
  top: -34px;
  color: whitesmoke;
}

.weather-temperature .active{
  color: whitesmoke;
  cursor: default;
  text-decoration: none;

}

.weather-temperature .active:hover{
  text-decoration: none;
}

/* .weather-forecast{
  margin-top: 5px;
  text-align: center;
  color: #333;
 
} */
#body-card{
  background-color: rgba(36, 36, 36, 0.325);
  border-radius: 15px;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 10px;
  margin:0 auto
}
#forecast-cards{
  border-radius: 15px;
  align-items: center;
/*  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);} */
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(36, 36, 36, 0.325);
  
  
}
.weather-forecast-date {
  font-size: 16px;
  color: whitesmoke;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
  color: whitesmoke;
}
.weather-forecast-temperature-max{
  font-size: 13px;
  color: whitesmoke;
}
.col-2{
  margin: 0 auto;
  padding:1px;
}

.overview{
  margin-bottom: 28px;
  margin-top: 10px;
  margin-left: 10px;
}
.row{
  display: flex;
  flex-direction: row;
  padding: 16px;
}
.btn {
  background-color: rgba(255, 255, 255, 0.664);
  border: rgba(255, 255, 255, 0.664);
  color: #252525b8;
}
.btn:hover{
  background-color: #aac2ffb6;
  border: #00000000;}

.form-control{
  background-color: #00000050;
  border: 1px solid #00000050;
  border-radius: 4px;
  color: #ffffff;
  
  color: whitesmoke;
  
}
.form-control:focus{
  background-color: #c5d4fcae;;
  color: black;
}

.signature{
  color: whitesmoke;
}
a{
  color:rgb(76, 76, 255);

}